<div class="content">
  <form>
    <fieldset>
      <div class="container-fluid">
        <legend>Uzupełnij dane</legend>
        <label for="name">Imię: </label>
        <input id="name" name="name" placeholder="Podaj imie">

        <div class="form-group">
          <label for="surname">Nazwisko: </label>
          <input id="surname" name="surname" placeholder="Podaj nazwisko">
        </div>
        <div class="form-group">
          <label>Email: </label>
          <input placeholder="Podaj email">
        </div>
        <div class="checkbox">
          <label>Płeć: </label>
          <label class="radio-inline"><input type="radio" name="optradio" checked>Mężczyzna</label>
          <label class="radio-inline"><input type="radio" name="optradio">Kobieta</label>
        </div>

        <div class="form-group">
          <label for="description">Opis: </label>
          <textarea id="description" name="description" cols="20" rows="3" required></textarea>
        </div>
        <label for="age">Wiek: </label>
        <input type="number" name="age" id="age" min="18">
        <div class="form-group">
          <label>Stan cywilny: </label>
          <select>
            <option>Panna/Kawaler</option>
            <option>Mężatka/Żonaty</option>
            <option>Wdowa/Wdowiec</option>
          </select>
        </div>
        <input type="reset" value="Wyczyść">
        <input type="submit" value="Wyślij">
      </div>
    </fieldset>
  </form>
</div>
